@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Nunito Sans", system-ui !important;
  list-style: none !important;
  text-decoration: none !important;
}

:root {
  --red-color: #db1202;
  --second-color: #fe9213;
  --parag-color: #888888;
  --red-lite-color: #f9bbb7;
}

*::selection {
  background-color: var(--red-color);
  color: #fff;
}

@font-face {
  font-family: drive-corps;
  src: url(../webfonts/DriveCorps.otf);
}

.bg-red {
  background-color: var(--red-color);
}

.text-red {
  color: var(--red-color);
}

.text-yellow {
  color: var(--second-color);
}

.border-color-red {
  border-color: var(--red-color);
}

p {
  color: var(--parag-color);
}

.second-font-family {
  font-family: "Lobster Two", sans-serif !important;
}

.third-font-family {
  font-family: drive-corps !important;
}

.second-btn {
  border-color: var(--red-color) !important;
}

/* start scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--red-color);
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}

.no-scroll {
  overflow: hidden;
}

/* end scrollbar */

/* start loader */

#loader-container{
  z-index: 1000;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: var(--red-color) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* end loader */

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000006f;
  display: none;
  z-index: 99;
}

.bg-overlay.active {
  display: block;
}

.nav-link.dropdown-toggle.show,
.nav-link.active {
  padding: 2px 10px;
  background-color: var(--red-color);
  color: #fff !important;
  border-radius: 10px;
}

.nav-link.dropdown-toggle.show {
  background-color: transparent;
  color: var(--second-color) !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--red-color) !important;
  color: #fff !important;
}

.nav-link:hover{
  color: var(--second-color) !important;
}

.icon-menu svg {
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.icon-menu:hover {
  color: var(--red-color) !important;
}

.icon-menu[aria-expanded="true"] svg {
  color: var(--red-color) !important;
  transform: rotate(-90deg);
}

.navbar-brand img {
  width: 45px;
}

.cart {
  position: fixed;
  top: 0;
  right: -120%;
  bottom: 0;
  width: 300px;
  z-index: 100;
  transition: 0.3s ease-in-out;
}

.cart.active {
  right: 0;
}

.cart .top-cart .close-cart svg {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.cart .top-cart .close-cart svg:hover {
  transform: rotate(90deg);
  color: var(--red-color);
}

.cart .items-in-cart .single-item-in-cart .product-details {
  width: 65%;
}

.cart .items-in-cart .single-item-in-cart .product-img .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
}

.cart .items-in-cart .single-item-in-cart .product-img {
  cursor: pointer;
}

.cart .items-in-cart .single-item-in-cart .product-img:hover .img-hover {
  transform: scale(1);
}

.cart .items-in-cart .single-item-in-cart .product-details a h6 {
  font-size: 13px;
  color: var(--bs-body-color);
  transition: 0.3s ease-in-out;
}

.cart .items-in-cart .single-item-in-cart .product-details a:hover h6 {
  text-decoration: underline !important;
  color: var(--red-color);
}

.cart .items-in-cart .single-item-in-cart .product-details ul {
  font-size: 12px;
}

.delete-item svg {
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.delete-item svg:hover {
  color: var(--red-color);
  transform: scale(1.05);
}

.hero-sec .img-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #db10029d, #db100236);
}

.palmares-banner {
  width: 100%;
  height: 600px;
  background-image: url("/assets/images/banners/palmares.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.palmares-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #db10029a;
}

.top-banner {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.top-banner img {
  width: 70px;
}

.palmares-sec {
  top: 25%;
  left: 0;
}

.palmares-sec .palmares {
  height: 80%;
}

.card:hover {
  border-color: var(--red-color);
  box-shadow: 0px 10px 10px #db100240;
}

.count-orders,
.card-title {
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.card-title:hover {
  color: var(--red-color);
  text-decoration: underline !important;
}

.bottom-card button {
  font-size: 13px;
}

.hover-btns {
  display: none;
}

.card:hover .hover-btns {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.card:hover .card-img-top::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000036;
  cursor: pointer;
}

.nav-swp::after {
  font-size: 25px !important;
}

.nav-swp {
  position: absolute !important;
  transition: 0.3s ease-in-out;
}

.nav-swp.swiper-button-prev {
  left: -100% !important;
}

.products-swp:hover .nav-swp.swiper-button-prev {
  left: 20px !important;
}

.nav-swp.swiper-button-next {
  right: -100% !important;
}

.products-swp:hover .nav-swp.swiper-button-next {
  right: 20px !important;
}

.title-product-sec::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100px;
  height: 3px;
  background-color: var(--red-color);
}

#productModal .modal-content {
  border-color: var(--red-color) !important;
}

#productModal .modal-header {
  border-color: var(--red-color);
}

#productModal .qty {
  border-color: var(--red-color);
  border-radius: 5px;
  outline: none;
}

.banner-product .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner-product.first .content {
  left: 40px;
}

.banner-product.second .content {
  right: 15px;
}

.social-link li {
  width: 35px;
  height: 35px;
  background-color: #fff;
  color: var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.social-link li:hover {
  transform: scale(0.9);
  background-color: var(--second-color);
  color: #fff;
}

nav .social-link li{
  width: 30px;
  height: 30px;
}

footer .quick-link li {
  transition: 0.3s ease-in-out;
}

footer .quick-link li:hover {
  transform: scale(1.03);
}

footer .contact-info .contact-info-title h5 {
  font-size: 18px;
}

footer .contact-info .contact-info-title {
  color: #ffbe74;
}

footer .footer-bottom {
  border-color: #fff !important;
}

footer .footer-bottom p a {
  transition: 0.3s ease-in-out;
}

footer .footer-bottom p a:hover {
  color: var(--second-color) !important;
}

@media (max-width: 310px) {
  .cart {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .banner-product.second .content {
    width: 45% !important;
    font-size: 14px;
  }
  .banner-product.second .content p {
    display: none;
  }
}

@media (max-width: 550px) {
  .hero-sec .img-container img {
    height: 600px;
    object-position: center;
    object-fit: cover;
  }
}

@media (max-width: 550px) {
  .palmares-sec .palmares .single-palmares img {
    width: 300px !important;
  }
}

@media (max-width: 991px) {
  .nav-link.active {
    margin-top: 10px;
    padding: 0;
    background-color: transparent;
    color: var(--red-color) !important;
  }
  .nav-link {
    color: var(--parag-color);
  }
}

@media (max-width: 575px) {
  .cart .btn-cart a {
    font-size: 14px !important;
  }
}
